---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import VerticalScroller from "../components/VerticalScroller.astro";
import Meteorites from "../components/Meteorites.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Badges from "../components/Badges.astro";
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import ScrollDown from "../components/icons/ScrollDown.astro";
import { CopyToClipboard } from "../components/CopyToClipboard";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Hazardev - Desarrollador FullStack">
  <main class="px-4 flex-grow overflow-hidden">
    <Meteorites />

    <SectionContainer
      id="inicio"
      class="flex flex-col justify-center items-center pt-[120px] sm:py-40 gap-4 text-center relative z-10"
    >
      <div class="flex items-center gap-3">
        <span class="h-0.5 rounded-sm min-w-20 sm:w-32 bg-primary"></span>
        <h3 class="text-sm sm:text-lg">Desarrollador Full Stack</h3>
        <span class="h-0.5 rounded-sm min-w-20 sm:w-32 bg-primary"></span>
      </div>

      <h1 class="font-black text-5xl sm:text-6xl md:text-7xl py-4">
        ALVARO RODRIGUEZ
      </h1>

      <div class="flex gap-3 flex-wrap justify-center">
        <a
          target="_blank"
          href="cv.pdf"
          class="border-2 border-accent rounded-full py-2 px-3 transition-all
          hover:text-white hover:bg-accent hover:saturate-150 hover:scale-110"
        >
          Descargar CV
        </a>

        <a
          target="_blank"
          href="https://www.linkedin.com/in/alvarorodria"
          class="flex gap-2 border-2 border-accent rounded-full py-2 px-3 transition-all
          hover:text-white hover:bg-accent hover:saturate-150 hover:scale-110"
        >
          <Linkedin class="h-6 w-6" />
          LinkedIn
        </a>

        <a
          target="_blank"
          href="https://github.com/Alvarordev"
          class="flex gap-2 border-2 border-accent rounded-full py-2 px-3 transition-all
          hover:text-white hover:bg-accent hover:saturate-150 hover:scale-110"
        >
          <Github class="h-6 w-6" />
          Github
        </a>
      </div>

      <div class="pt-24 sm:pt-32">
        <ScrollDown class="scroll-down" />
      </div>
    </SectionContainer>

    <SectionContainer id="sobre-mi" class="pb-36 flex flex-col gap-4">
      <SectionHeader title="Sobre mí" />

      <div
        class="flex flex-col justify-center items-center sm:flex-row pb-20 px-6 gap-10"
      >
        <img
          src="/photo.webp"
          alt="foto"
          class="h-52 w-52 sm:min-w-52 object-cover object-center rounded-lg"
        />

        <div>
          <p class="text-md font-normal pt-5">
            ¡Hola! 👋 Me llamo Alvaro, soy desarrollador FullStack con más de 1
            año de experiencia, centrándome principalmente en el desarrollo
            frontend, con un enfoque especifico en Typescript y conocimientos
            sólidos en Redux y React. Mi enfoque se traduce en la creación de
            plataformas web modernas e intuitivas , donde la fusión entre la
            estética y la funcionalidad son mi clave para lograr resultados
            excepcionales.
          </p>

          <p class="pt-8">
            Aquí algunas de las tecnologías que forman parte de mi stack actual:
          </p>
        </div>
      </div>

      <VerticalScroller />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <SectionHeader title="Proyectos destacados" />

      <ProjectCard
        title="Cliniconnect"
        subtitle="Software de citas medicas"
        stack={["JavaScript", "React", "NextJS", "Express", "MySql"]}
        imgUrl="/cliniconnect-mockup.webp"
        alt="cliniconnect"
        url="https://cliniconnect.vercel.app/"
      >
        CliniConnect es una aplicación web que te permite reservar citas
        médicas, además de enviarte recordatorios mediante tu correo
        electrónico. Este proyecto lo realicé de manera colaborativa en
        NoCountry, donde me desempeñé como desarrollador full stack, programando
        la lógica tanto del frontend como del backend.
      </ProjectCard>

      <ProjectCard
        title="DetailCenter"
        subtitle="Web para negocio de detailing"
        stack={["TypeScript", "React", "NextJS", "Tailwindcss", "Vercel"]}
        imgUrl="/detailcenter.webp"
        alt="detailcenter"
        url="https://detailcenter.pe/"
        position="left"
      >
        Desarrollé la página web de DetailCenter, un centro de detailing
        automotriz. Implementé tecnologías modernas como React con NextJS y
        utilicé Tailwind CSS para un diseño ágil. Alojado en Vercel,
        garantizando rendimiento y accesibilidad. Este proyecto destaca mi
        enfoque en la estética y funcionalidad para proporcionar una experiencia
        web excepcional.
      </ProjectCard>
    </SectionContainer>

    <SectionContainer
      id="contacto"
      class="flex flex-col gap-3 justify-center items-center text-center"
    >
      <h3 class="text-4xl font-bold">¡Pongamonos en Contacto!</h3>
      <p class="text-sm text-primary">
        Enviame un mensaje y te contestare lo mas pronto posible.
      </p>

      <CopyToClipboard client:load />

      <a
        target="_blank"
        href="https://www.linkedin.com/in/alvarorodria"
        class="mt-5 bg-secondary px-7 py-4 flex gap-2 rounded-lg items-center text-sm hover:bg-accent hover:text-white transition-all"
      >
        <Linkedin class="h-5 w-5" />
        Escríbeme
      </a>
    </SectionContainer>
  </main>
</Layout>

<style>
  .scroll-down {
    animation: updown 2.5s infinite;
  }

  @keyframes updown {
    0%,
    100% {
      transform: translateY(-5px);
    }

    50% {
      transform: translateY(5px);
    }
  }
</style>
