---
import { ModeToggle } from "./ModeToggle";
import ToggleNavbar from "./ToggleNavbar";
---

<header
  class={`flex justify-center items-center mx-auto sticky top-0 w-full z-20 max-w-[1050px] py-4 px-4 xl:px-0`}
>
  <nav
    class="flex items-center w-full px-5 py-4 border-2 border-border rounded-xl backdrop-blur-md relative"
  >
    <a href="/" class="flex basis-0 flex-grow font-extrabold">HAZARDEV</a>

    <ul class="hidden sm:flex gap-6 items-center">
      <li class="hover:text-accent transition-all font-medium">
        <a href="#inicio">Inicio</a>
      </li>

      <li class="hover:text-accent transition-all font-medium">
        <a href="#sobre-mi">Sobre mí</a>
      </li>

      <li class="hover:text-accent transition-all font-medium">
        <a href="#proyectos">Proyectos</a>
      </li>
    </ul>

    <div class="flex flex-grow items-center justify-end basis-0 gap-4">
      <ModeToggle client:load />

      <ToggleNavbar client:load />

      <a
        href="#contacto"
        class="hidden sm:block bg-primary dark:bg-accent text-white rounded-full py-2 px-3 hover:text-white hover:scale-105 saturate-150 transition-all duration-150"
      >
        Contacto
      </a>
    </div>
  </nav>
</header>
